.wrap-trainer {
    max-width:1200px;
}
#w0 {
    width:100%;
    height:106px;
    border-radius: 0;
    margin-bottom:0;
}
.trainer-logo img {
    margin:2% 0;
    width:364px;
    height:auto;
    max-width:100%;
}
.display-icon-round {
    margin: 20px 0;
    width: 24px;
    height: 24px;
    background: #eee;
    border: 1px solid #eee;
    border-radius: 16px;
    padding: 1px 0 0 5.6px;
    box-sizing: border-box;
    cursor: pointer;
}
.display-icon-round span {
    font-size:11px;
    color: #4ea0dd;
}
.notification-icon {
    position:relative;
    padding:0;
}
.notification-icon .display-icon-round {
    margin:20px 0;
}
.notification-count {
    position: absolute;
    top: 16px;
    right: 2px;
    width: 14px;
    height: 14px;
    font-family: Tahoma, "Arial Narrow", "Trebuchet MS", monospace;
    border-radius: 8px;
    font-size: 8pt;
    color: #fff;
}
.notification-count span {
    margin: -2px 0 0 3px;
    display: block;
}
.notification-count {
    position: absolute;
    top: 14px;
    right: 0;
    width: 16px;
    height: 16px;
    font-family: Tahoma, "Arial Narrow", "Trebuchet MS", monospace;
    border-radius: 8px;
    font-size: 8pt;
    color: #fff;
}
.bg-orange {
    background: #fe805a;
    border:1px solid #fe805a;
}
.bg-purple {
    background: #a48ad4;
    border:1px solid #a48ad4;
}
.bg-green {
    background: #a2b97d;
    border:1px solid #a2b97d;
}

.wrap > .container-client {
    padding:0;
}
.col-client-info {
    margin:0;
    padding:0;
    height: 824px;
    background: rgb(78,235,254);
    background: -moz-linear-gradient(top,  rgb(78,235,254) 0%, rgb(72,131,160) 38%, rgb(42,94,133) 99%);
    background: -webkit-linear-gradient(top,  rgb(78,235,254) 0%,rgb(72,131,160) 38%,rgb(42,94,133) 99%);
    background: linear-gradient(to bottom,  rgb(78,235,254) 0%,rgb(72,131,160) 38%,rgb(42,94,133) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4eebfe', endColorstr='#2a5e85',GradientType=0 );
}
.col-content {
    margin:0;
    padding:0;
    height: 824px;
    background: #2a96a2;
}
.user-logo {
    margin:20px 0 10px;
    width:100%;
    height:auto;
    max-height: 420px;
}
.user-logo img {
    display: block;
    width: 60%;
    height: auto;
    margin: 10% auto;
    border: 6px solid #687ae6;
    border-radius: 4px;
}
.col-client-info h1 {
    font-family: "Myriad Pro", monospace;
    font-size: 1.8em;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
}
.basic-info {
    margin: 40px 0;
}
.basic-info .basic-line {
    width:100%;
    height: 32px;
    font-family: "Myriad Pro Condenced", monospace;
    font-size: 1.2em;
    color:#fff;
    text-align: center;
}
.basic-info .basic-line span {
    font-family: "Open Sans", "Trebuchet MS", Tahoma, Verdana, sans-serif;
    margin-right:6px;
    text-transform: uppercase;
}
.client-basic-edit {
    width:94%;
    margin:20px 6% 20px 0;
    text-align:right;
}
.client-basic-edit a {
    color:#b2bcf1;
}
.client-basic-edit a:hover {
    color:#f1f1d2;
    text-decoration:none;
}
.notes {
    width:80%;
    margin:60px 10%;
    padding:10px;
    background:#fef200;
    font-family: "Myriad Pro", monospace;
    font-weight: 400;
}
.notes p.notes-hdr {
    font-weight: 800;
    text-transform: uppercase;
}
.trainer-is, .trainer-contact {
    margin: 10px 0 20px;
    padding-right: 4%;
    padding-left: 8%;
}
.trainer-contact {
    padding-left:0;
}
.trainer-is h1 {
    font-family: "Myriad Pro", monospace;
    font-size:1.6em;
    text-transform: uppercase;
    color:#fff;
    letter-spacing: 1.4px;
    margin:6px 0;
}
.trainer-is span {
    text-transform: none;
    font-family: "Myriad Pro Condenced", monospace;
    font-size:1em;
    color:#e6e6e6;
    letter-spacing: normal;
}
.trainer-contact button {
    color:#000;
    border-radius:10px;
    margin: 6px 0;
    padding: 2px 10px;
}

.client-notifications, .client-calendar {
    width: 86%;
    height:340px;
    margin:0 0 0 14%;
    padding:16px 0;
    background: #fff;
    border:0;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
.client-calendar {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin: 0 14% 0 -2px;
}
.notification-container {
    padding-right:0;
}
.calendar-container {
    padding-left:0;
}
.date-today {
    width:280px;
    height:74px;
    background: rgb(104,122,230);
    background: -moz-linear-gradient(45deg,  rgb(104,122,230) 0%, rgb(104,122,230) 80%, rgb(255,255,255) 80%, rgb(255,255,255) 100%);
    background: -webkit-linear-gradient(45deg,  rgb(104,122,230) 0%,rgb(104,122,230) 80%,rgb(255,255,255) 80%,rgb(255,255,255) 100%);
    background: linear-gradient(45deg,  rgb(104,122,230) 0%,rgb(104,122,230) 80%,rgb(255,255,255) 80%,rgb(255,255,255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#687ae6', endColorstr='#ffffff',GradientType=1 );
}
.date-today .today-n, .date-today .weekday-n {
    width:auto;
    height:24px;
    margin: 0 0 4px;
    padding: 10px 28px;
    font-size:1em;
    text-transform: uppercase;
}
.date-today .weekday-n {
    height:40px;
    padding: 4px 28px;
    font-size:1.6em;
}
.client-alerts {
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.client-alerts p {
    padding: 4px 4px 4px 16px;
    width: 80%;
    margin: 10px 10%;
    background: #b3bcf3;
    font-family: "Myriad Pro Condenced", monospace;
}
.zabuto_calendar {
    margin: 0px 10%;
    width:80%;
    height:auto;
    font-family: "Myriad Pro Condenced", monospace;
}
div.zabuto_calendar th, div.zabuto_calendar td {
    border-top: 0 !important;
}
.calendar-month-header th {
    padding-bottom: 18px !important;
}
.badge {
    background-color: #e5e432;
    color:#687ae6;
    border-radius: 0;
    cursor:pointer;
}
.calendar-month-header {
    background: #54abb4;
}
tr.calendar-dow-header {
    height:40px;
}
tr.calendar-dow-header th {
    padding-top:20px !important;
}
.calendar-dow {
    background: #54abb4;
}
.m20 {
    width:100%;
    height:20px;
}
.dashboard-menu ul {
    margin:20px 0 0 14%;
    width:86%;
    padding:0;
    list-style-type: none;
}
.dashboard-menu ul li {
    width: 100%;
    height: 60px;
    color: #fff;
    text-shadow: 2px 2px 2px #444;
    border-bottom: 2px solid #fff;
    background: #acd45a;
    font-size: 1.4em;
    padding: 18px 0 0 26px;
}
.dashboard-menu ul li.active {
    background:#7d9942;
}
.dashboard-menu ul li span {
    text-shadow: none;
    margin-right: 6%;
}
.note {
    width:82%;
    margin:10px 10% 10px 0;
    height:auto;
    padding:6px 14px;
    background: #f26c4f;
    border:0;
    border-radius:8px;
    color:#fff;
}
.note a {
    width: 42px;
    height: 24px;
    background: #687ae6;
    color: #fff;
    padding: 2px 6px;
    border: 0;
    border-radius: 4px;
}
.note a:hover {
    background:#4c50ab;
    text-decoration: none;
}
.dashboard-huray {
    font-size: 1.2em;
    font-weight: 600;
}
.dashboard-meter {
    position:relative;
    width:60%;
    height:200px;
    border:1px solid #000;
    border-radius:10px;
    background:#00ff01;
}
.to-complete {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:auto;
    background:#fff;
    border:0;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.meter-info {
    position:absolute;
    bottom:10px;
    right:0;
    font-size:1.4em;
    font-weight:800;
    text-align: center;
}
.meter-info span {
    font-size:2em;
}