/*      Login       */
.container-login {
    width:88%;
    margin:0 6%;
}
div.oef-login {
    position:relative;
    width:100%;
    height:49vw;
    margin:20px 0 0;
    background: #6cbc0a;
    background: url(../images/gym.png) right bottom no-repeat,-moz-linear-gradient(-50deg,  #6cbc0a 0%, #45ad4f 50%, #ffffff 50%, #ffffff 100%);
    background: url(../images/gym.png) right bottom no-repeat, -webkit-linear-gradient(-50deg,  #6cbc0a 0%,#45ad4f 50%,#ffffff 50%,#ffffff 100%);
    background: url(../images/gym.png) right bottom no-repeat, linear-gradient(140.5deg,  #6cbc0a 0%,#45ad4f 50%,#ffffff 50%,#ffffff 100%);
    background-size: 56% auto, auto;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cbc0a', endColorstr='#ffffff',GradientType=1 );
}

.navbar-inverse {
    height: 140px;
}

.navbar-login {
    width:60%;
    margin:0 20% 8px;
    border-radius: 0;
}

#optefit-logo {
    width:100%;
    max-width:320px;
    margin: 20px auto;
}
#optefit-logo img {
    max-width:100%;
    height:auto;
}

.hold-login-form {
    width:100%;
    height:520px;
    margin:28px 0 10px;
    background: url(../images/bgs/login_form.jpg);
}

.upper {
    margin:10px 0 4px;
    padding:20px 0 0;
    text-transform: uppercase;
    font-family: "Droid Sans";
    font-size:0.95em;
    color: #fff;
    text-align:center;
}
.lower {
    margin:0 auto;
    text-transform: uppercase;
    font-family: "Droid Sans";
    font-size:0.8em;
    color: #fff;
    text-align:center;
}

.btw-logo {
    margin:40px 0;
    text-align:center;
}
.btw-logo img {
    max-width:34%;
    width:400px;
    height:auto;
}

.hold-form-slim {
    margin:10px 0;
}
.hold-form-slim form {
    padding: 0 2em;
}
.hold-form-slim form ul {
    margin: 0;
    padding: 0;
}
.hold-form-slim form li {
    position: relative;
    display:block;
    width:100%;
    height:52px;
    list-style:none;
    margin:0;
}
.hold-form-slim form li input {
    width:100%;
    height:52px;
    border:1px solid #fff;
    margin:0;
    padding: 4px 22px 4px 16px;
    box-sizing: border-box;
    border-radius: 3px;
}
.hold-form-slim form li input[type="submit"] {
    font-family: "Myriad Pro", monospace;
    font-size:10pt;
    width:100%;
    height:38px;
    background: #00aa00;
    border:0;
    border-radius:0;
    margin:0;
    padding: 4px 0;
    text-align:center;
    color: #fff;
    text-transform: uppercase;
    box-sizing: border-box;
    text-shadow: 1px 1px 1px #00f;
}
.hold-form-slim form ul li:first-child input {
    border-bottom:1px solid #000000;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.hold-form-slim form ul li:nth-child(2) input {
    border-bottom:1px solid #000000;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.hold-form-slim form li span {
    position:absolute;
    top:16px;
    right: 8px;
    font-size:1.6em;
}
.hold-form-slim form li img {
    display: block;
    margin: 0 auto;
    cursor:pointer;
    width:68%;
    height:auto;
}
.hold-form-slim p {
    text-align:center;
    color:#fff;
    font-family: "Myriad Pro", monospace;
    margin:10px 0;
}
.hold-form-slim a, .hold-form-slim a:hover,  .bottom-links a {
    color: #fff;
}

.logo-md-text {
    display: none;
    margin-top:20px;
}
.logo-md-text img {
    width: 100%;
    position: absolute;
    top: 20px;
    right: 0;
    height: auto;
    max-width: 400px;
}
.logo-xs-text {
    margin:20px 6%;
}
.logo-xs-text img {
    width: 88%;
    height: auto;
    max-width: 340px;
}

.footer-login {
    width: 60%;
    margin: 0 20%;
    height: 60px;
    background-color: #45ad4f;
    border-bottom: 2px ridge #888;
}


.bottom-links {
    width:100%;
    padding:20px;
}
.bottom-links i {
    font-size:0.8em;
}
.bottom-links a {
    font-family: "Myriad Pro Condenced", monospace;
    font-size:1.2em;
    font-weight: 400;
}
.bottom-links a:hover {
   color:#fff;
}

/* Login Media*/
@media (max-width: 768px) {
    .container-login {
        width:98%;
        margin:0 1%;
    }
    div.oef-login {
        width:100%;
        height: 210vw;
        background: url(../images/gym.png) center bottom no-repeat,-moz-linear-gradient(-114.5deg, #6cbc0a 0%, #45ad4f 50%, #ffffff 50%, #ffffff 100%);
        background: url(../images/gym.png) center bottom no-repeat, -webkit-linear-gradient(-114.5deg, #6cbc0a 0%,#45ad4f 50%,#ffffff 50%,#ffffff 100%);
        background: url(../images/gym.png) center bottom no-repeat, linear-gradient(114deg, #6cbc0a 0%,#45ad4f 50%,#ffffff 50%,#ffffff 100%);
        background-size: 46% auto, auto;
    }
    .logo-md-text {
        display:none;
    }
    .footer-login {
        width:98%;
        margin:0 1%;
    }
    .bottom-links {
        padding:10px;
    }
}
@media (max-width: 420px) {
    div.oef-login {
        width:100%;
        height: 232vw;
    }
}
@media (min-width: 500px) {
    div.oef-login {
        width:100%;
        height: 180vw;
        background: url(../images/gym.png) center bottom no-repeat,-moz-linear-gradient(-117.5deg, #6cbc0a 0%, #45ad4f 50%, #ffffff 50%, #ffffff 100%);
        background: url(../images/gym.png) center bottom no-repeat, -webkit-linear-gradient(-117.5deg, #6cbc0a 0%,#45ad4f 50%,#ffffff 50%,#ffffff 100%);
        background: url(../images/gym.png) center bottom no-repeat, linear-gradient(117.5deg, #6cbc0a 0%,#45ad4f 50%,#ffffff 50%,#ffffff 100%);
        background-size: 46% auto, auto;
    }
    .hold-login-form {
        height:560px;
    }
    .hold-form-slim form {
        margin:0 0 20px 0;
    }
}
@media (min-width: 580px) {
    div.oef-login {
        width:100%;
        height: 161vw;
        background: url(../images/gym.png) center bottom no-repeat,-moz-linear-gradient(-120.5deg, #6cbc0a 0%, #45ad4f 50%, #ffffff 50%, #ffffff 100%);
        background: url(../images/gym.png) center bottom no-repeat, -webkit-linear-gradient(-120.5deg, #6cbc0a 0%,#45ad4f 50%,#ffffff 50%,#ffffff 100%);
        background: url(../images/gym.png) center bottom no-repeat, linear-gradient(120.5deg, #6cbc0a 0%,#45ad4f 50%,#ffffff 50%,#ffffff 100%);
        background-size: 46% auto, auto;
    }
    .hold-login-form {
        width: 80%;
        margin: 28px 10% 10px;
    }

}
@media (min-width: 648px) {
    div.oef-login {
        width:100%;
        height: 150vw;
        background: url(../images/gym.png) center bottom no-repeat,-moz-linear-gradient(-122.5deg, #6cbc0a 0%, #45ad4f 50%, #ffffff 50%, #ffffff 100%);
        background: url(../images/gym.png) center bottom no-repeat, -webkit-linear-gradient(-122.5deg, #6cbc0a 0%,#45ad4f 50%,#ffffff 50%,#ffffff 100%);
        background: url(../images/gym.png) center bottom no-repeat, linear-gradient(122.5deg, #6cbc0a 0%,#45ad4f 50%,#ffffff 50%,#ffffff 100%);
        background-size: 46% auto, auto;
    }
    .logo-xs-text img {
        max-width: 400px;
        margin: 0 6%;
    }
}
@media (min-width: 768px) {
    div.oef-login {
        width:100%;
        height: 79.2vw;
        background: url(../images/gym.png) right bottom no-repeat,-moz-linear-gradient(-137.5deg, #6cbc0a 0%, #45ad4f 50%, #ffffff 50%, #ffffff 100%);
        background: url(../images/gym.png) right bottom no-repeat, -webkit-linear-gradient(-137.5deg, #6cbc0a 0%,#45ad4f 50%,#ffffff 50%,#ffffff 100%);
        background: url(../images/gym.png) right bottom no-repeat, linear-gradient(137.5deg, #6cbc0a 0%,#45ad4f 50%,#ffffff 50%,#ffffff 100%);
        background-size: 46% auto, auto;
    }
    .logo-xs-text {
        display:none;
    }
    .logo-md-text {
        display:block;
    }
    .navbar-login {
        border-bottom-right-radius: 4px;
    }
    .footer-login {
        width:88%;
        margin:0 6%;
    }
}
@media (min-width: 1200px) {
    .logo-xs-text {
        display:none;
    }
    .logo-ms-text {
        display:block;
    }
    .logo-md-text img {
        right: 10%;
        max-width: 480px;
    }
}
@media (min-width: 1340px) {
    .logo-md-text img {
        max-width: 540px;
    }
}