/* Fonts */
@font-face {
    font-family: "Myriad Pro";
    font-weight: normal;
    src: url(../assets/1ec3625/fonts/myriad-pro_regular.otf) format("opentype");
}
@font-face {
    font-family: "Myriad Pro Condenced";
    font-weight: 400;
    src: url(../assets/1ec3625/fonts/myriad-pro_condenced.otf) format("opentype");
}
@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Sans'), local('DroidSans'), url(../assets/1ec3625/fonts/Droid-sans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    src: url(../assets/1ec3625/fonts/OpenSans-Regular.ttf) format("opentype");
}


html,
body {
    height: 100%;
    font-family: "Open Sans", "Trebuchet MS", Tahoma, Verdana, sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.clear-mg20 {
    margin: 20px 0 0 0;
}

.l-pad0 {
    padding-left: 0;
    text-align: left;
}
.r-pad0 {
    padding-right:0;
    text-align:right;
}
