.wrap-trainer {
    /*max-width:1200px;*/
    padding:0;
}

#w0 {
    width:100%;
    height: auto;
    min-height: 136px;
    border-radius: 0;
    margin-bottom:0;
}

#optefit-logo {
    width:100%;
    max-width:260px;
}
#optefit-logo img {
    max-width:100%;
    height:auto;
}

.round-icon {
    padding:0;
}

.display-icon-round {
    margin: 50px 0;
    width: 32px;
    height: 32px;
    background: #eee;
    border: 1px solid #eee;
    border-radius: 16px;
    padding: 6px;
    box-sizing: border-box;
    cursor:pointer;
}

.display-icon-round span {
    font-size:16px;
    color: #4ea0dd;
}

/* User list */
#user-select {
    padding:50px 0;
}
.dd-select {
    width: 100% !important;
    height: 32px !important;
    border: 1px solid #eee !important;
    border-radius: 20px !important;
}
.dd-selected {
    padding: 2px !important;
}
.dd-selected-image, .dd-option-image {
    max-width: 28px !important;
    border: 1px solid #eee;
    border-radius: 16px;
}
.dd-selected-text {
    line-height: 28px !important;
    padding-left: 12px;
    color: #222222;
}

ul.dd-options {
    border:2px solid #4ea0dd;
    box-shadow: 0 1px 14px  #d2d2d2;
    margin-top:6px;
    /*border-top-left-radius: 20px;
    border-top-right-radius: 20px;*/
}
ul.dd-options li {
    height:34px;
}
.dd-option {
    height: 34px;
    padding: 2px !important;
}
.dd-option-text {
    line-height: 32px;
    padding-left:12px;
    color: #222222;
    font-style: italic;
    font-size: 0.86em;
}

.notification-icon {
    position:relative;
    padding:0;
}
.notification-icon .display-icon-round {
    margin:20px 0;
}
.notification-count {
    position:absolute;
    top:14px;
    right:0;
    width:16px;
    height:16px;
    font-family: Tahoma, "Arial Narrow", "Trebuchet MS", monospace;
    border-radius:8px;
    font-size:8pt;
    color: #fff;
}
.notification-count span {
    margin: -1px 0 0 4px;
    display: block;
}
.bg-orange {
    background: #fe805a;
    border:1px solid #fe805a;
}
.bg-purple {
    background: #a48ad4;
    border:1px solid #a48ad4;
}
.bg-green {
    background: #a2b97d;
    border:1px solid #a2b97d;
}

.trainer-content-row {
    margin-top: -4px;
}
.site-col {
    height: 824px;
}
.col-left {
    padding: 0;
    background: #8d68ac;
    background: -moz-linear-gradient(top,  #8d68ac 0%, #463a71 100%);
    background: -webkit-linear-gradient(top,  #8d68ac 0%,#463a71 100%);
    background: linear-gradient(to bottom,  #8d68ac 0%,#463a71 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d68ac', endColorstr='#463a71',GradientType=0 );
}
.col-center {
    background: #363542;
    background: -moz-linear-gradient(top,  #363542 0%, #2a2836 100%);
    background: -webkit-linear-gradient(top,  #363542 0%,#2a2836 100%);
    background: linear-gradient(to bottom,  #363542 0%,#2a2836 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363542', endColorstr='#2a2836',GradientType=0 );
    padding-right:1%;
    padding-left:1%;
}
.col-right {
    background: #43386a;
    background: -moz-linear-gradient(top,  #43386a 0%, #2b2938 100%);
    background: -webkit-linear-gradient(top,  #43386a 0%,#2b2938 100%);
    background: linear-gradient(to bottom,  #43386a 0%,#2b2938 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43386a', endColorstr='#2b2938',GradientType=0 );
}

.wrap > .container-trainer {
    width: 100%;
    padding: 1px 15px 0;
}
.clear-c {
    height:0;
}
.user-photo {
    width:100%;
    height:auto;
}
.user-photo img {
    display:block;
    width:240px;
    max-width:80%;
    height:auto;
    margin:40px auto 20px;
    border:0;
    border-radius: 80%;
}
.user-info {
    font-family: "Myriad Pro", monospace;
    width:100%;
    height:auto;
    margin:0 0 60px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.user-info h1 {
    font-size:2.2em;
}
.user-info p {
    font-size:1.6em;
}

.list-items ul {
    padding:0;
    margin:0;
    list-style-type: none;
}
.list-items ul li {
    width:100%;
    height: 82px;
    margin: 0;
    padding: 28px 20%;
    color:#fff;
    font-size:1.4em;
    text-transform: uppercase;
    box-sizing: border-box;
}
.list-items ul li.active {
    background: url(../images/active-item-bg.png) no-repeat;
    background-size: 100% 100%;
}
.list-items ul hr{
    width: 80%;
    height:1px;
    margin:-6px 10%;
    border:0;
    border-bottom: 4px solid #959595;
}
.list-items ul li a {
    color:#fff;
}
.list-items ul li a:hover {
    color:#fa8564;
    text-decoration: none;
}

.gauge-meter, .clients-gender, .todate-report {
    width: 80%;
    height: 208px;
    margin: 40px 10%;
    background: #acd35a;
    border: 1px solid #acd35a;
    border-radius: 20px;
}
.clients-gender {
    background: #1a1a1a;
    border: 1px solid #1a1a1a;
    padding-bottom:28px;
    height:200px;
}
.todate-report {
    background: #8e67ab;
    border: 1px solid #8e67ab;
    border-radius: 10px 0 0 10px;
    position:relative;
    top: 0;
    right: -1%;
    height:280px;
    width:92%;
    overflow-y: auto;
    margin-right:0;
}
.gauge-meter h2, .clients-gender h3, .todate-report h4, .dashboard-notifications h5 {
    font-family: "Myriad Pro", monospace;
    font-size: 1.4em;
    margin: 8px 0 10px;
    text-align: center;
    text-transform: uppercase;
}
.clients-gender h3 {
    color:#d2d2d2;
    margin:8px 0 40px;
    font-weight: 200;
}
.todate-report h4 {
    text-align:left;
    color:#d2d2d2;
    padding:20px 0 20px 20px;
}
.dashboard-notifications h5 {
    text-align:left;
    color:#fff;
    padding:10px 0 20px 20px;
}
.todate-report h4 span {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 10pt;
}
.gauge-meter canvas {
    width:80%;
    height: 120px;
    margin: 0 10%;
}
.gauge-meter span, .client-bar span {
    display:block;
    margin:0 20px 10px;
    font-weight:800;
    font-size:1.6em;
    font-family: Georgia, "Century Gothic", "Times New Roman", Garamond, serif;
}
.client-bar span {
    margin: 10px 6px;
    font-size:1.2em;
}
.gauge-meter span.pull-left {
    color:#fa8564;
}

.client-bar {
    position:relative;
    margin:10px 10%;
    width: 80%;
    height:40px;
    background: #fff;
    font-weight: 800;
    text-transform: uppercase;
}
.client-gender-name {
    position:absolute;
    top:8px;
    left:20px;
    font-size: 1.2em;
    z-index:100;
}
.female-per, .male-per {
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: #83a13b;
}
.male-per {
    background: #4ea0dd;
}

.notification-calendar {
    width:80%;
    height:28px;
    margin:6px 10%;
    background:#a585bc;
    padding:2px 8px;
}
.notification-calendar span {
    color:#fff;
    font-size:0.86em;
}
.dashboard-notifications {
    width:100%;
    height:488px;
    overflow-y: auto;
    margin:20px 0;
    font-family: "Myriad Pro Condenced";
}

/* notification backgrounds */
.note-email {
    background: #eef7fd;
}
.note-social {
    background: #fffbe6;
}
.note-personal {
    background:#eef8f8;
}
.note-request {
    background:#fff7e1;
}
.note-warn {
    background: #fef3f2;
}
.notification-item {
    width: 100%;
    height: auto;
    min-height: 40px;
    margin: 10px 0 0;
    font-size: 10pt;
    border: 1px solid #eee;
    border-radius: 6px;
}
.note-email .ni-icon {
    background:#99cce3;
}
.note-social .ni-icon {
    background:#fcb1ae;
}
.note-personal .ni-icon {
    background:#98d7ad;
}
.note-request .ni-icon {
    background:#ffe699;
}
.note-warn .ni-icon {
    background:#f8847f;
}
.note-email .nname {
    color:#99cce3;
}
.note-social .nname {
    color:#fcb1ae;
}
.note-personal .nname {
    color:#98d7ad;
}
.note-request .nname {
    color:#ffe699;
}
.note-warn .nname {
    color:#f8847f;
}
.naction {
    font-weight:800;
    text-indent: 10px;
}
.ni-icon {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    padding: 12px 0;
    margin: 4px;
    text-align: center;
}
.ni-icon span {
    font-size:12pt;
}
.ndesc {
    display:block;
    color:#5e5e5e;
    padding:4px 0 0 0;
}
.ni-time {
    padding: 4px 0;
    font-size: 10pt;
    color: #95989C;
}
.dashboard-calendar {
    width: 100%;
    height: 280px;
    background: #fff;
    margin-left: -15px;
    padding: 10px 20px 20px 20px;
    border: 0;
    border-radius: 0 10px 10px 0;
    overflow-x: auto;
    overflow-y: hidden;
}
#dasboard-calendar-content {
    width:80%;
    height:auto;
    margin:20px 10%;
}
div.zabuto_calendar th, div.zabuto_calendar td {
    border-top: 0 !important;
}
.calendar-month-header th {
    padding-bottom: 18px !important;
}
.badge {
    background-color: #1fb5ad;
    border-radius: 0;
    cursor:pointer;
}

/* Clients */
.clients-online, .all-clients {
    width:100%;
    height: 180px;
    overflow-y: auto;
}
.client-title {
    font-family: "Myriad Pro", monospace;
    font-size: 1.2em;
    padding: 2px 0 2px 12px;
    color:#fff;
    margin:8px 0;
}
.cname {
    color:#fff;
}
div.client-title.bg-green {
    background: #1fb5ad;
}
ul.client-list {
    margin:0;
    padding:0;
    list-style-type: none;
}
ul.client-list li {
    width:100%;
    height:34px;
}
ul.client-list li img {
    border:0;
    width:30px;
    height:auto;
    max-width:80%;
    border-radius:20px;
}
ul.client-list li span.cname {
    font-family: "Myriad Pro Condenced", monospace;
    font-weight:800;
    color:#dcdcdc;
    font-size: 1em;
    padding:0 8px;
}
ul.client-list li span.c-icon {
    color: #ff8d36;
}
.all-clients {
    height: 480px;
}
ul.client-list li .cr-icon {
    color:#95989C;
}
ul.client-list li span.client-recent, ul.client-list li span.client-recent-ago {
    font-family: "Myriad Pro Condenced", monospace;
    color:#dcdcdc;
    font-size: 0.9em;
    padding:0 8px;
    margin:0;
}
ul.client-list li span.client-recent-ago {
    color:#3e7572;
}
.view-clients .col-right {
    background: #fff;
}
.client-add {
    width: 100%;
    height: auto;
    padding: 4px 0;
    padding: 4px;
    text-align: center
}
.client-add div.step-buttons {
    width: auto;
    height: auto;
    min-height: 34px;
    padding: 4px 0;
    background: #acd35a;
}
.client-add button.btn-primary {
    width: 80%;
    height: 26px;
    padding: 0;
    margin: 4px;
    font-size: 10.6pt;
    background: #4ea0dd;
}
.client-add form {
    margin-top:60px;
}
.client-add div.form-group {
    height:48px;
    margin: 10px 0;
}
.client-add label {
    display:block;
    width:28%;
    height:28px;
    text-align:left;
    color:#576b75;
    float:left;
}
.client-add label[for="user-first_name"]:after,
.client-add label[for="user-last_name"]:after,
.client-add label[for="user-username"]:after,
.client-add label[for="user-gender"]:after,
.client-add label[for="profile-birth"]:after,
.client-add label[for="user-email"]:after {
    content: " *Required";
    display:block;
    margin:0;
    font-size:8.5pt;
    font-style:italic;
    color: #576b75;

}
.client-add p.help-block {
    float: none;
    clear: both;
    position: relative;
    top: -16px;
    left: 0;
    font-size:8.5pt;
    color: brown;
}
.client-add input[type="text"], .client-add input[type="file"],.client-add textarea, .client-add select {
    display:block;
    width:66%;
    height:28px;
    border-radius: 0;
    float:right;
}
.client-add input[type="text"] {
    background:#ebebeb;
}
.client-add select {
    padding: 2px 0 2px 6px;
}
.client-add button {
    width: 120px;
    background:#252525;
    color:#dcdcdc;
}
.step2, .step3 {
    display:none;
}

/* Workout */
ul.workouts {
    margin: 8px 0 0 0;
    padding: 0;
    list-style-type: none;
    background: #3e3e4f;
}
ul.workouts li {
    margin:0;
    width:100%;
    height:62px;
    padding: 26px 20%;
    font-size:1em;
    color:#fff;
    text-transform: none;
}
ul.workouts li.wo-active {
    background:  #2a2a35;
}
div.trainer-workouts, div.trainer-workouts .col-center, .trainer-workouts .col-left, .trainer-workouts .col-right {
    height: 1080px;
}

/* WO search form */
.seach-workouts {
    margin:10px 0 12px;
}
#wo_search_form {
    margin:0;
    padding: 0;
}
#wo_search_form .search-query {
    padding-right: 24px;
    padding-right: 24px \9;
    padding-left: 4px;
    padding-left: 4px \9;
    margin-bottom: 0;
    border:1px solid #dcdcdc;
    background:#dcdcdc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width:100%;
}
#wo_search_form .input-append {
    position:relative;
    padding:0;
    width:100%;
}
#wo_search_form button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* workout-exe */
form#wo_search_form.form-seach-wo-exe {
    margin:14px 2%;
}
form#wo_search_form.form-seach-wo-exe button {
    top:2px;
    left:0;
}
form#wo_search_form.form-seach-wo-exe .search-query {
    padding-left:24px;
    height:28px;
}


.search-query:focus + button {
    z-index: 3;
}

.trainer-media {
    width:100%;
    height: auto;
}
.trainer-media ul.media-list, .trainer-media ul.media-list-fw {
    margin:0;
    padding:0;
    list-style-type: none;
}
.trainer-media ul.media-list li {
    width:100%;
    height: 58px;
    padding:6px;
    float: none;
    clear: both;
    cursor:move;
}
.trainer-media ul.media-list li img, .trainer-media ul.media-list-fw li img {
    max-width:40%;
    height:auto;
    float: left;
}
.trainer-media ul.media-list li span.media-title, .trainer-media ul.media-list li span.media-category,
.trainer-media ul.media-list-fw li span.media-title, .trainer-media ul.media-list-fw li span.media-category{
    display:block;
    width:56%;
    color:#eee;
    font-family:"Myriad Pro Condenced", monospace;
    font-size:10pt;
}
.trainer-media ul.media-list li span.media-category,
.trainer-media ul.media-list-fw li span.media-category {
    font-family:"Myriad Pro", monospace;
    color:#f26c4f;
    padding-top:8px;
}

.workout-add-header {
    width:100%;
    margin:0;
    padding:6px;
    background: #373746;
}
.workout-add-header input {
    width:88%;
    margin:0 6%;
}
.workout-add-header .row {
    color:#fff;
 }
.add-workout-container {
    padding:0;
}
#compile-workout {
    width:100%;
    height:600px;
    background: #5b5b64;
}
#compile-workout img.dd-ph {
    width:200px;
    max-width:40%;
    height: auto;
    margin:10px 2%;
}
.workout-save {
    margin: 0;
    padding: 12px 10px 0;
    background: #373746;
}
.workout-save select {
    background:#d2d2d2;
}
.save-woButton button {
    display:block;
    background:#4ea0dd;
    border:0;
    border-radius:10px;
    color: #fff;
    width: 60%;
    margin:0 auto;
    text-align: center;
    text-transform: uppercase;
}
.saved-workouts {
    margin:0;
}
.saved-workouts .saved-workouts-title {
    width:100%;
    height: 40px;
    padding:10px;
    background:#83a13b;
}
.saved-workouts .saved-workouts-title h2 {
    font-size:11pt;
    text-transform: uppercase;
    margin-top: 2px;
    padding: 0 0 0 20px;
}
.stripe1, .stripe2 {
    margin:0;
    height:auto;
    padding:10px;
 }
.stripe1 {
    background: #fff;
}
.stripe2 {
    background: #ccc;
}
#media-sortable-target li input {
    width: 40px;
    border:1px solid #eee;
    background: #eee;
}
#media-sortable-target li img {
    float:left;
    width: 80px;
    max-width:60%;
    height:auto;
}
#media-sortable-target li span.media-title, #media-sortable-target li span.media-category {
    color:#fff;
    font-family: "Myriad Pro", monospace;
    font-size:1em;
    padding-right: 16%;
    min-width:64%;
}
#media-sortable-target li span.media-category {
    color:#f26c4f;
}

.media_upload_sort_btn {
    margin:40px 0;
}
.media_upload_btn {
    margin:0 auto 20px;
}

.media_upload_btn button, .media_sort_btn select {
    width:80%;
    margin:0 10%;
    padding:6px;
    background:#4ea0dd;
    border:1px solid #2c4e6f;
    border-radius:4px;
    color:#fff;
}
.media_upload_btn button {
    margin: 0 14% 0 6%;
}
.media_sort_btn {
    padding-right:1%;
}
.media_upload_btn button:hover {
    background: #8c66ab;
    color:#fff;
}
.media_sort_btn select {
    padding: 4px;
    height: 34px;
    background: #fff;
    color:#000;
}
.trainer-media ul.media-list-fw {
    width:96%;
    margin:0 2% 20px;
}
.trainer-media ul.media-list-fw li {
    cursor: default;
    margin-bottom: 10px;
}
#add_url_video {
    width:100%;
    height:28px;
    border: 1px solid #ffb91b;
    border-radius: 4px;
    background:#d2d2d2;
}
#add_woc {
    height: 28px;
    border-radius: 4px;
}
.modal-spacer {
    float:none;
    clear:both;
    width:100%;
    height:20px;
}
#add_new_video {
    width: 120px;
    height: 34px;
    border-radius: 8px;
}



.col-category-list {
    background: #acd35a;
}
.col-category-list h2 {
    text-align: center;
    font-size: 1.6em;
    line-height: 40px;
    margin-bottom: 20px;
}

/* category list */
.wo_category_list ul {
    margin:0 0 0 5%;
    padding:0;
    list-style-type: none;
}
.wo_category_list ul li {
    font-size:1.1em;
    width:auto;
    margin-bottom:10px;
    height:auto;
    min-height: 28px;
    font-weight:800;
    border-bottom: 1px dotted #82b34e;
}
.wo_category_list ul li  ul {
    margin:4px 0  4px 10px;
    padding:0;
    list-style-type: none;
}
.wo_category_list ul li  ul li {
    margin-bottom:2px;
    font-size:0.95em;
    font-weight:400;
    border:0;
    min-height: 20px;
}
/* category right */
.col-workout-category {
    background: #fff;
}
.workout-add-category form{
    width:92%;
    margin:20px 4%;
}
.workout-add-category-header {
    margin: 26px 0 40px;
}
.workout-add-category-header h3 {
    font-size:1.6em;
    margin-left: 5%;
}
.workout-add-category label, .workout-add-category input, .workout-add-category select, .workout-add-category textarea {
    height:34px;
    margin:20px 0;
}
.workout-add-category label {
    color: #576b75;
    font-size:0.95em;
}
.workout-add-category input, .workout-add-category select, .workout-add-category textarea {
    background:#ebebeb;
}
.workout-add-category form label {
    width:34%;
    float:left;
}
.workout-add-category form input, .workout-add-category select, .workout-add-category textarea {
    width:60%;
    float:right;
}
.workout-add-category textarea {
    height: auto;
}
.workout-add-category button[type="submit"] {
    margin:20px 0;
    width:140px;
    height:26px;
    padding:4px;
    background:#4ea0dd;
    border-radius: 0;
}
.col-calendar {
    background: #fff;
}
.col-calendar h3 {
    height:60px;
    padding:10px 5%;
    font-size:1.6em;

}
#calendar {
    width:96%;
    margin:20px 2%;
}
.col-designer {
    background: #fff;
}
.col-designer .design-field {
    width:100%;
    height: 824px;
    margin:0;
    padding:0;
    background: url('../images/tmp/site-designer-ph.jpg') #fff;
    background-size: 100% 100%;
}

.build-box {
    margin:0;
}

/* Trainer media */
@media (max-width: 768px) {
    #user-select {
        width: 146px !important;
    }
    .dd-selected-text, .dd-option-text {
        padding-left: 4px;
        font-size: 12px;
    }
    ul.dd-options {
        width:200px !important;
    }
    #optefit-logo {
        margin:10px 0;
    }
    .notification-row {
        margin-top:-60px;
    }
    .notification-icon .display-icon-round {
        margin:20px 0 0;
    }
    .todate-report {
        border-radius: 20px;
        right: 0;
        width: 80%;
        margin: 0 10%;
    }
    .dashboard-notifications {
        height:auto;
        margin-bottom:40px;
    }
    .dashboard-calendar {
        margin-left: 0;
        border-radius: 20px;
    }
    .col-right {
        height: auto;
        padding-bottom:20px;
    }
    .media_upload_btn button, .media_sort_btn select {
        width: 96%;
        margin: 0 2%;
    }
    .media_sort_btn select {
        width: 95%;
    }
    .build-box div {
        padding:0;
        font-size:0.8em;
    }
    #media-sortable-target li img {
        width: auto;
        max-width: 100%;
        padding:0 2px;
    }
    #media-sortable-target li div.row {
        margin:0;
    }
    #media-sortable-target li div.row div {
        padding:0 2px;
    }
    #media-sortable-target li span.media-title, #media-sortable-target li span.media-category {
        display:block;
        padding-left: 0;
        font-size: 0.8em;
        float: none !important;
        clear: both;
    }
    #media-sortable-target li input {
        width: 28px;
        height: 20px;
    }
    .trainer-media ul.media-list li {
        display:block;
        width: 100%;
        height: auto;
        margin-bottom:10px;
    }
    .trainer-media ul.media-list li img, .trainer-media ul.media-list-fw li img {
        display:block;
        max-width: 100%;
    }
    .trainer-media ul.media-list-fw li img {
        float:none;
    }
    .trainer-media ul.media-list-fw li span.media-category {
        padding:0;
    }
    .trainer-media ul.media-list li span.media-title, .trainer-media ul.media-list li span.media-category, .trainer-media ul.media-list-fw li span.media-title, .trainer-media ul.media-list-fw li span.media-category {
        float:none !important;
        width: 100%;
    }
    .trainer-media ul.media-list li span.media-category {
        padding-top:0;
    }
    .save-woButton button {
        width:100%;
        margin-bottom:20px;
    }

}
@media (max-width: 420px) {

}
@media (min-width: 500px) {
    .col-center {
        height: 920px;
    }
    .gauge-meter {
        height: 260px;
    }
    .gauge-meter canvas {
        height: 140px;
    }
    #user-select {
        width: 180px !important;
    }
    ul.dd-options {
        width:200px !important;
    }
    .notification-count {
        right: 6px;
    }
}
@media (min-width: 580px) {
    #optefit-logo img {
        max-width: 94%;
    }
    .col-center {
        height: 960px;
    }
    .gauge-meter {
        height: 300px;
    }
    .gauge-meter canvas {
        height: 180px;
    }
    #user-select {
        width: 220px !important;
    }
    ul.dd-options {
        width:220px !important;
    }
    .notification-count {
        right: 12px;
    }
}
@media (min-width: 648px) {
    #optefit-logo img {
        max-width: 76%;
    }
    .col-center {
        height: 1000px;
    }
    .gauge-meter {
        height: 340px;
    }
    .gauge-meter canvas {
        height: 220px;
    }
    #user-select {
        width: 260px !important;
    }
    ul.dd-options {
        width:260px !important;
    }
    .notification-count {
        right: 20px;
    }
}
@media (min-width: 768px) {
    #user-select {
        width: 180px !important;
    }
    ul.dd-options {
        width:180px !important;
    }
    #optefit-logo {
        margin: 24px auto 10px;
    }
    #optefit-logo img {
        max-width: 100%;
    }
    .notification-count {
        right: 8px;
    }
    .col-center {
        height: 824px;
    }
    .gauge-meter {
        height:208px;
    }
    .gauge-meter canvas {
         height: 92px;
     }
    .notification-calendar span {
        font-size: 0.74em;
    }
    .user-info h1 {
        font-size: 1.8em;
    }
    .user-info p {
        font-size: 1.4em;
    }
    .list-items ul li {
        height: 70px;
        padding: 22px 14%;
    }
    .ni-icon {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        padding: 2px 1px 0 0;
    }
    .ni-icon span {
        font-size: 8pt;
    }
    .ni-content {
        padding-right: 2px;
        padding-left: 2px;
    }
    .ni-time {
        width:12%;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px;
        line-height: 2;
    }
 }
@media (min-width: 920px) {
    .notification-count {
        right: 14px;
    }
}
@media (min-width: 990px) {
    .notification-count {
        right: 20px;
    }
    #user-select {
        width: 240px !important;
    }
    ul.dd-options {
        width:260px !important;
    }
    .list-items ul li {
        height: 82px;
        padding: 28px 20%;
    }
    .user-info h1 {
        font-size: 2.2em;
    }
    .user-info p {
        font-size: 1.6em;
    }
    .ni-icon {
        width: 28px;
        height: 28px;
        border-radius: 14px;
        padding: 6px 0 0 0;
    }
    .ni-icon span {
        font-size: 12pt;
    }
    .notification-calendar span {
        font-size: 0.86em;
    }
}
@media (min-width: 1080px) {
    .gauge-meter canvas {
        height: 120px;
    }
    .notification-count {
        right: 28px;
    }
}
@media (min-width: 1200px) {
    .notification-count {
        right: 0;
    }
}
@media (min-width: 1340px) {

}